# Ignore package.json and package-lock.json

# Ignore the node_modules directory
/node_modules

# Ignore the input.css file inside the /assets/css/ directory

# Ignore tailwind.config.js and postcss.config.js
